PORT=3001
DATABASE_URL="postgresql://app:password@127.0.0.1:5433/document_search?schema=public"
OPENSEARCH_URL="http://localhost:9200"
AWS_REGION="eu-central-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_BUCKET_NAME=""
